* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: #fff;

  color: #333;
}

.payroll_header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
 
}
h2 {
  margin-bottom: 10px;
}

.top-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.top-buttons button {
  padding: 9px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 130px;
  text-align: center;
}
.top-buttons select {
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 130px;
  text-align: center;
}

.this-month {
  background-color: #333;
  color: #fff;
}

.download {
  background-color: #f1c40f;
  color: #000;
}
#month_alert_msg{
    text-align: center;
   margin: 0;
   padding: 0;
   color: rgba(255, 0, 0, 0.774);
   position: absolute;
   top: 15%;
   left: 50%;
}

#payroll {
  padding: 20px;
}
.payroll-form {
  background-color: #fbe18f;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
  /* margin-top: 40px; */
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}
input:disabled,
select:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
  opacity: 0.7;
}

.form-group input,
.form-group select {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-radius: 4px;
  background-color: #fbe18f;
  width: 250px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 65px;
  margin: 30px;
}

.form-buttons .submit {
  width: 150px;
  background-color: #f1c40f;
  color: #000;
  width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-buttons .cancel {
  width: 150px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
